--tập lệnh VIẾT THỦ TỤC - HÀM
--khai báo biến
DECLARE @I INT = 1,@N INT = 5
DECLARE @A VARCHAR(10)
--gán biến
SET @A = 'ABC'
SET @A = (SELECT PHAI FROM GIAOVIEN WHERE MAGV = '001')
SELECT @A = 'ACB',@I=1
SELECT @A = PHAI, @I = LUONG 
FROM GIAOVIEN
--in thông báo
PRINT N'THONG BÁO';
THROW 51000, 'lỗi', 1; --50000<= error_num <=2,147,483,647
--VÒNG LẶP
WHILE (@I < @N)
BEGIN
	PRINT @I
	SET @I = @I + 1
END
--ĐIỀU KIỆN
IF @I < 3 OR @A <> 'ABC'
BEGIN
	SET @A = @A + CAST(@I AS VARCHAR(3))
END
----------------
--THỦ TỤC = CHƯƠNG TRÌNH CON KHÔNG TRẢ VỀ GIÁ TRỊ
------------, ĐƯỢC BIÊN DỊCH VÀ LƯU TRONG CSDL
--KHAI BÁO THỦ TỤC
GO
CREATE 
--ALTER
PROCEDURE SP_TEST
	--THAM SỐ
	@MAGV VARCHAR(10),
	@HOTEN NVARCHAR(30),
	@LUONG INT,
	@KQ INT OUT
AS --KẾT THÚC KHAI BÁO THAM SỐ
---THÂN THỦ TỤC CHỨA CÁC XỬ LÍ 
	SET @KQ = 0
	IF @MAGV IN (SELECT MAGV FROM GIAOVIEN)
	BEGIN
		;THROW 50001, N'LỖI TRÙNG MAGV',1
		SET @KQ = 1
		RETURN 1 --ĐỂ THOÁT KHỎI THỦ TỤC
	END
	IF @HOTEN IS NULL 
	BEGIN
		;THROW 50002, N'LỖI TÊN RỖNG',1
		SET @KQ = 1
		RETURN 1
	END
	IF @LUONG <= 0
	BEGIN
		;THROW 50001, N'LỖI LUONG SAI GIA TRI',1
		SET @KQ = 1
		RETURN 1 --INT
	END
	INSERT GIAOVIEN(MAGV,HOTEN,LUONG)
	VALUES(@MAGV,@HOTEN,@LUONG)
	RETURN 0
GO --KẾT THÚC KHAI BÁO THỦ TỤC
--GỌI THỰC THI
DECLARE @K INT, @R INT
EXEC @R = SP_TEST '152','NGUYEN VAN A',200,@K OUT
PRINT @K 
PRINT @R
SELECT * FROM GIAOVIEN
--HÀM = CHƯƠNG TRÌNH CON CHO PHÉP TRẢ VỀ GIÁ TRỊ SCALAR / BẢNG
--TRẢ VỀ SCALAR VALUE 
--DÙNG GIỐNG CÁCH DÙNG CỦA SYS FUNCTION
GO
CREATE FUNCTION F_TINHTUOI(
	@MAGV VARCHAR(5))
RETURNS INT --KIỂU DLIEU CỦA GIÁ TRỊ TRẢ VỀ
AS
BEGIN
	--KO DC INSERT/UPDATE/DELETE
	RETURN (SELECT DATEDIFF(YEAR,NGSINH, GETDATE()) 
			FROM GIAOVIEN
			WHERE MAGV = @MAGV)
END
GO
SELECT * ,DBO.F_TINHTUOI(MAGV) TUOI
FROM GIAOVIEN
--TRẢ VỀ BẢNG
CREATE FUNCTION F_DSGIAOVIENTHAMGIA
	(@MADT VARCHAR(10))
RETURNS TABLE
AS
	RETURN (SELECT * 
			FROM THAMGIADT 
			WHERE MADT = @MADT)

SELECT * 
FROM GIAOVIEN G JOIN DBO.F_DSGIAOVIENTHAMGIA('001') DT
ON DT.MAGV = G.MAGV